*{
  box-sizing: border-box;
}

body{
  width: 80%;
  margin: 10% auto;
  background-color: darkblue;
  .board-display{
    display: flex;
    justify-content: space-around;
  }
  .game-board{
    display: flex;
    justify-content: space-between;
    .grid{
      border: 1px solid black;
      height: 500px;
      width: 500px;
      display: flex;
      flex-wrap: wrap;
      div{
        border: 1px solid grey;
        height: 10%;
        width: 10%;
        background-color: lightblue;
      }
      .userShip{
        background-color: black;
      }
      .hit{
        background-image: url(../assets/hit3.png);
        background-size: cover;
      }
      .attacked{
        background-color: grey;
      }
      .firing{
        background-color: yellow;
      }
      .battleship{
        background-color: blue;
      }
      .carrier{
        background-color: green;
      }
      .patrolboat{
        background-color: purple;
      }
      .submarine{
        background-color: orange;
      }
      .destroyer{
        background-color: darkblue;
      }
    }
  }
}
