*{
  box-sizing: border-box;
}

body{
  width: 95%;
  margin: 5% auto;
  background-size: cover;
  background-color: #800000;
  .start-screen{
    width: 100%;
    margin-top: -30px;
    text-align: center;
    img{
      display: block;
      margin: auto;
      width: 80%;
      height: 600px;
      border-radius: 15px;
    }
    button{
      margin-top: 5px;
      width: 400px;
      height: 100px;
      font-size: 40px;
      border-radius: 10px;
      animation: pulse 2.0s infinite
    }
  }

  .board-display{
    h1{
      color:white;
      text-align: center;
    }
    display: flex;
    justify-content: center;
  }
  .game-board{
    display: flex;
    justify-content: space-between;
    background-color: #800000;
    flex-wrap: wrap;
    .xcoord{
      text-align: center;
      display: flex;
      width: 50%;
      color: white;
      font-size: 15px;
      p{
        align-content: flex-start;
        width: 7%;
        display: inline;
      }
    }
    .x1{
      align-self: flex-start;
      :first-child{
        margin-left: 45px;
      }
    }
    .x2{
      :first-child{
        margin-left: 195px;
      }
    }
    .ycoord{
      height: 500px;
      color: white;
      font-size: 15px;
      p{
        height: 7%;
        padding: 0;
        margin-bottom: none;
      }
    }
    .ship-grid{
      margin-left: -250px
    }
    .fire-grid{
      align-self: flex-end;
      margin-left: -240px;
    }
    .grid{
      background-color: black;
      opacity: 0.8;
      border: 1px solid white;
      height: 500px;
      width: 500px;
      display: flex;
      flex-wrap: wrap;
      div{
        border: 1px solid white;
        height: 10%;
        width: 10%;
        opacity: 1;
      }
      .userShip{
        background-color: black;
        opacity: 1;
      }
      .hit{
        background-image: url(../assets/hit3.png);
        background-size: cover;
      }
      .dead{
        background-image: url(../assets/blackx.jpg);
        background-size: cover;
      }
      .attacked{
        background-color: grey;
      }
      .firing{
        background-color: yellow;
        animation: pulse 1.5s infinite;
      }
      .battleship{
        background-color: blue;
      }
      .carrier{
        background-color: green;
      }
      .patrolboat{
        background-color: red;
      }
      .submarine{
        background-color: orange;
      }
      .destroyer{
        background-color: darkblue;
      }
    }
  }
  .pulse{
    animation: pulse 2.0s infinite
  }
}

@keyframes pulse{
  0%{opacity: 1}
  50% {opacity: .25}
  100%{opacity: 1}
}
